<div class="col-lg-10" [@fadeLateral] >
    <h3>{{title}}</h3>
    <form #formAdd="ngForm" (ngSubmit)="onSubmit()" >
        <p>
            <label>Nombre</label>
            <input name="name" #name="ngModel" [(ngModel)]="animal.name" type="text" class="form-control" />
            <span *ngIf="!name.valid && name.touched" >
                El nombre es obligatorio
            </span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea name="description" #description="ngModel" [(ngModel)]="animal.description" type="text" class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched" >
                La descripción es obligatoria
            </span>
        </p>
        <p>
            <label>Año</label>
            <input name="year" #year="ngModel" [(ngModel)]="animal.year" type="number" class="form-control" />
            <span *ngIf="!year.valid && year.touched" >
                El año es obligatorio
            </span>
        </p>

        <div *ngIf="isEdit && animal.image" >
            <div>
                <img class="image_for_edit" src="{{url + '/get-image-animal/' + animal.image}}" />
            </div>
        </div>

        <p>
            <label>Imagen del animal</label>
            <input (change)="fileChangeEvent($event)" type="file" placeholder="Subir imagen..." />
        </p>
    
        <input type="submit" value="{{title}}" class="btn btn-success" />
    </form>
</div>